@use "../../../styles/mixins.scss" as mixins;

.header {
	align-items: center;
	background: var(--bg-color);
	box-shadow: 0 0 15px 0 black;
	display: flex;
	height: 60px;
	justify-content: space-between;
	text-align: center;
	z-index: 1;

	> a {
		color: var(--text-color);
		font-weight: 800;
		font-size: 23px;
		text-transform: uppercase;
	}

	> nav {
		display: flex;
		flex-direction: row;
		gap: 10px;
		> ul {
			align-items: center;
			justify-content: center;
			display: flex;
			flex-direction: row;
			gap: 10px;
			list-style-type: none;
			margin: 0;
			padding-inline-start: 0;
			> li {
				display: inline;
				> a {
					background-color: var(--btn-color);
					border-radius: 6px;
					color: var(--text-color);
					font-size: 16px;
					font-weight: 600;
					padding: 5px 10px 5px 10px;
					text-transform: uppercase;
					width: 30px;

					&:hover {
						border-bottom: solid 4px var(--unknown1);
						transition: 200ms;
					}
				}
			}
		}
		> button {
			background: none;
			border: none;
			padding: 0;
			cursor: pointer;
			@include mixins.desktop {
				display: none;
			}
		}
	}

	@include mixins.mobile {
		> nav {
			display: block;
			position: relative;
			top: 6px;
			left: 50px;

			z-index: 1;

			> ul {
				position: absolute;
				width: 400px;
				margin: -53px 0 0 -60px;
				padding: 30px 50px 20px 50px;
				border-radius: 0 0 0 20px;
				box-shadow: 0 0 7px 5px var(--shadow);

				background: var(--bg-color);
				list-style-type: none;
				-webkit-font-smoothing: antialiased;
				/* to stop flickering of text in safari */

				transform-origin: 0% 0%;
				transform: translate(100%, 0);

				transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);

				> li {
					display: flex;
					height: 50px;
					text-align: center;
					justify-content: center;
					align-items: center;
					font-size: 23px;
					margin: 20px 0;
					border-width: 5px !important;

					> a {
						display: block;
						width: 100%;
						height: 100%;
					}
				}
			}

			> span {
				width: 50px;
				height: 5px;
				background-color: var(--btn-2-color) !important;
				display: block;
				margin: 8px auto;
				transition: all 0.3s ease-in-out;
				z-index: 5;
			}
			> .finished {
				&:nth-child(1) {
					transform: translateY(13px) rotate(-45deg);
				}

				&:nth-child(2) {
					width: 0;
				}

				&:nth-child(3) {
					transform: translateY(-13px) rotate(45deg);
				}
			}
		}
	}
}

.open {
	background-color: red;
}

.currentPg {
	> a {
		background: var(--btn-2-color) !important;
		color: var(--bg-color) !important;

		&:hover {
			border-bottom: solid 4px var(--unknown2);
		}
	}
}
