.wrapper {
  width: 100%;
  height: 10px;

  --loading-color: #6cb1ff;
  --between-color: #6cb1ff50;

  background: linear-gradient(
    90deg,
    var(--between-color),
    var(--loading-color),
    var(--between-color)
  );
  background-size: 200% 100%;
  animation: loading 2s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 0%;
  }
}
