.disc {
	background-color: #36393f;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 7px;
}

.discMessageContainer {
	align-items: center;
	background-color: #40444b;
	border-radius: 7px;
	cursor: not-allowed;
	display: flex;
	height: 50px;
	user-select: none;
	> div {
		&:first-of-type {
			width: 50px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:last-of-type {
			flex-grow: 1;
			font-weight: 400;
			color: #72767d;
		}
	}
}
