.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 60px;
  margin-top: 60px;
}

.main-header {
  width: 111%;
  height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.2em;
}

.block {
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
  top: -27px;
}

.num {
  color: black;
  width: 8vw;
  min-width: 40px;
}

.block h2 {
  display: block;
  font-weight: 900;
  font-size: 2rem;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.video {
  display: none;
}

@media only screen and (min-width: 900px) {
  .video {
    display: block;
  }
}
