.block {
  border-radius: 10px;
  font-size: 1rem;
  position: relative;
  margin-top: 20px;
}

.block h2 {
  display: block;
  font-weight: 800;
  font-size: 1.4rem;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.num {
  color: black;
  width: fit-content;
  padding: 0 20px;
  width: 100%;
}
.show-desktop {
  display: none;
}

.button {
  margin: 30px 0;
}

.grid {
  color: white;
  display: grid;
  gap: 1.5rem;
  margin: 30px 0 0 0;
}

.grid > div {
  background-color: #353535;
  padding: 1px 20px;
  border-radius: 20px;
}

.discord-embed {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 2;
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.video {
  margin: auto;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
}

.sub-header {
  font-size: 2.5rem;
  margin: 2.4rem 0;
  margin-bottom: 0;
  text-align: center;
}

.more-block {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 0;
}

.sub-block-txt {
  margin-top: auto;
}

/* START OF DISCORD SYLEING */
.disc-example {
  margin-top: auto;
}

.disc {
  background-color: #36393f;
  border-radius: 0 0 10px 10px;
  padding: 7px 5px 7px 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5);
}

.disc-message {
  padding: 5px;
  display: grid;
  grid-template-columns: 50px 1fr;
}

.disc-account {
  background-color: #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.disc-message-text {
  margin-left: 20px;
}

.disc-top-text > * {
  display: inline;
  margin: 0;
  font-weight: 100;
  color: #a3a6a0;
}

.disc-top-text > p:first-child {
  color: #ff4bf0;
  font-weight: 400;
}

.disc-btm-text > * {
  display: inline;
  margin: 0;
  font-weight: 300;
}

.disc-highlight {
  background-color: #4e4d73;
  padding: 0 3px;
  border-radius: 3px;
}

.disc-message-container {
  background-color: #40444b;
  margin: 20px 0 0 5px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: not-allowed;
}

.disc-add-btn {
  margin-left: 20px;
}

.disc-message-container > p {
  margin-left: 20px;
  font-weight: 400;
  color: #72767d;
}

.disc-accepted {
  background-color: #49443c;
}
/* END OF DISCORD SYLEING */

@media only screen and (min-width: 970px) {
  .grid {
    grid-template-columns: 2fr 1fr;
    grid-auto-flow: row;
  }

  .lower-grid {
    grid-template-columns: 1fr 1fr;
  }

  .show-desktop {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}
