@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700&display=swap");

:root {
  --left-right-padding: 5%;

  --bg-color: #202020;
  --text-color: #fff;
  --btn-color: #353535;
  --btn-2-color: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
}

header {
  display: flex;
  width: 100%;
  padding: 0 var(--left-right-padding);
  box-shadow: 0px 0px 15px 0px black;
  justify-content: space-between;
  height: 60px;
  position: fixed;
  top: 0;
  background: var(--bg-color);
  z-index: 4;
}

header a {
  color: var(--text-color);
}

.main-navigation li {
  display: inline;
  font-size: 16px;
  margin-left: 9px;
  font-weight: bold;
  border-radius: 6px;
  background-color: var(--btn-color);
  font-weight: 600;
  padding: 5px 10px 5px 10px;
}

ul {
  list-style-type: none;
  padding-top: 3px;
}

nav a {
  color: var(--text-color);
  padding: 4px;
  width: 30px;
}

nav li:hover {
  border-bottom: solid 4px #9adcff;
  transition: 200ms;
}

p {
  font-family: "Catamaran", sans-serif;
}

.purple {
  background-color: #b983ff;
}

.blue {
  background-color: #9adcff;
}

.red {
  background-color: #ff8aae;
}

.yellow {
  background-color: #fff89a;
}

.green {
  background-color: #41e8c0;
}

.title {
  font-weight: 900;
  font-size: 23px;
  margin: 0;
  margin-top: 13px;
}

main {
  display: grid;
  margin: 0 auto;
  padding: 0 var(--left-right-padding);
}

.current-pg {
  background: var(--btn-2-color) !important;
  color: var(--bg-color) !important;
}

.current-pg:hover {
  border-bottom: solid 4px #ff8aae;
}

footer {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 var(--left-right-padding);
  box-shadow: -5px 0px 15px 0px black;
  justify-content: space-between;
  font-weight: 900;
  bottom: 0;
}

.link {
  padding: 0;
  margin: 0;
  text-align: center;
  text-decoration: underline;
  color: var(--text-color);
}

.page-container {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

.menu-toggle {
  display: none;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--bg-color);
  background: var(--btn-2-color);
  transition: 200ms ease-in-out;
  box-shadow: 0px 4px 5px 0px black;
}

.button:hover {
  box-shadow: 0px 0px 0px 0px black;
  transform: translateY(3px);
  transform: scale(0.987);
  color: var(--text-color);
  background: var(--bg-color);
}

@media only screen and (min-width: 900px) {
  .extra-links {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, max-content);
  }

  .line {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .main-navigation {
    display: block;
    position: relative;
    top: 6px;
    left: 50px;

    z-index: 1;
  }

  .main-navigation a {
    display: block;
    width: 100%;
    height: 100%;
  }

  .main-navigation ul {
    position: absolute;
    width: 400px;
    margin: -50px 0 0 -60px;
    padding: 30px 50px 10px 50px;
    border-radius: 0 0 0 20px;

    background: var(--text-color);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  .menu-toggle:checked ~ .nav-list {
    transform: translate(-60%, 0);
  }

  .line {
    width: 50px;
    height: 5px;
    background-color: var(--text-color);
    display: block;
    margin: 8px auto;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    position: relative;
    margin-right: 50px;
  }

  .menu-toggle:checked ~ .line {
    background-color: var(--bg-color);
  }

  /*The Hamburger and it's animation*/

  .menu-toggle:checked ~ .secound-line {
    width: 0px;
  }

  .menu-toggle:checked ~ .first-line {
    transform: translateY(13px) rotate(-45deg);
  }

  .menu-toggle:checked ~ .third-line {
    transform: translateY(-13px) rotate(45deg);
  }

  .menu-toggle {
    display: block;
    width: 50px;
    height: 35px;
    position: absolute;

    opacity: 0;
    z-index: 10;
    cursor: pointer;
  }

  /*Hamburger end*/

  .main-navigation li {
    display: flex;
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    margin: 20px 0;
    border-width: 5px !important;
  }

  footer {
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
  }
}
