@use 'styles/mixins.scss' as mixins;

.title {
  @include mixins.title;
}

.block {
  background-color: var(--btn-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 16px;
  padding: 16px;

  > h2 {
    color: black;
    font-size: 1.4rem;
    margin: 0;
    padding: 1rem 0 !important;
    text-align: center;
    width: 100%;
    border-radius: 10px;
  }

  > p {
    flex-grow: 1;
    line-height: 1.25rem;
    text-align: justify;
  }

  > *:not(:last-child) {
    margin: 0;
    padding: 0;
  }
}

.showDesktop {
  display: none;
  @include mixins.desktop {
    display: block;
  }
}

.largeButton {
  @include mixins.block-button;
}

.grid {
  color: white;
  display: grid;
  gap: 1.5rem;
  margin: 30px 0 0 0;

  @include mixins.desktop {
    grid-template-columns: 2fr 1fr;
  }
}

.discordEmbed {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.video {
  margin: auto;
  margin-bottom: 20px;
  height: 300px;
  width: 100%;
  border-radius: 0 0 10px 10px;
}

.subheader {
  @include mixins.subheader;
}

.subBlockTxt {
  margin-top: auto;
}

.lowerGrid {
  @include mixins.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.hideDesktop {
  @include mixins.desktop {
    display: none;
  }
}

.discExample {
  @include mixins.desktop {
    margin-top: auto;
  }
}
