footer.footer {
	display: flex;
	width: 100%;
	padding: 0 var(--left-right-padding);
	box-shadow: -5px 0 15px 0 black;
	justify-content: space-between;
	margin-top: 50px;
	height: 60px;
	text-align: center;
	font-weight: 500;

	> nav {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		gap: 1.3rem;
		font-size: large;

		> a {
			text-align: center;
			text-decoration: underline;
			color: var(--text-color);
			width: 100%;
		}

		@media only screen and (min-width: 900px) {
			& {
				flex-direction: row;

				> a {
					width: max-content;
				}
			}
		}
	}

	@media only screen and (max-width: 900px) {
		& {
			flex-direction: column;
			text-align: center;
			font-size: 2vw;
			height: min-content;
			padding-bottom: 20px;
		}
	}
}

.button {
	padding: 7px 15px !important;
}
