footer.footer {
	display: flex;
	width: 100%;
	height: fit-content;
	padding: 0 var(--left-right-padding);
	box-shadow: -5px 0px 15px 0px black;
	justify-content: space-between;
	font-weight: 900;
	margin-top: 50px;

	>div {
		>a {
			padding-block: 0px;
			padding: 0;
			margin: 0;
			text-align: center;
			text-decoration: underline;
			color: var(--text-color);
		}

		>hr {
			display: block;
			width: 100%;
			border-color: var(--text-color);

			@media only screen and (min-width: 900px) {
				display: none;
			}
		}

		@media only screen and (min-width: 900px) {
			display: grid;
			gap: 1.5rem;
			grid-template-columns: repeat(5, max-content);
			font-size: large;
		}
	}

	@media only screen and (max-width: 900px) {
		flex-direction: column;
		text-align: center;
		font-size: 2vw;
	}
}
