@use "../../../styles/mixins.scss" as mixins;

footer.footer {
	align-items: center;
	background: var(--bg-color);
	box-shadow: -5px 0 15px 0 black;
	display: flex;
	height: 60px;
	justify-content: space-between;
	text-align: center;
	z-index: 1;

	> nav {
		> ul {
			align-items: center;
			justify-content: center;
			display: flex;
			flex-direction: row;
			gap: 1.3rem;
			list-style-type: none;
			margin: 0;
			padding-inline-start: 0;
			> li {
				display: inline;
				> a {
					color: var(--text-color);
					text-align: center;
					text-decoration: underline;
					text-transform: uppercase;
					width: 100%;
				}
			}
		}

		@include mixins.desktop {
			flex-direction: row;
			> ul {
				> li {
					> a {
						width: max-content;
					}
				}
			}
		}
	}

	@include mixins.mobile {
		flex-direction: column;
		text-align: center;
		font-size: 2vw;
		height: min-content;
		padding-bottom: 20px;
	}
}

.button {
	@include mixins.button;
	padding: 7px 15px !important;
}
