$padding: 7px;

.message {
	padding: $padding;
	display: flex;
	flex-direction: row;
	gap: 15px;
	&::before {
		background-color: transparent;
		width: 0.5rem;
		height: calc($padding + 100% + $padding);
		content: " ";
		position: relative;
		bottom: $padding;
		right: $padding;
	}
	&>:first-child {
		margin-left: -5px;
	}
}

.mentioned {
	background-color: #49443c;
	&::before {
		background-color: #FAA81A;
	}
}

.profilePicture {
	background-color: #555555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.details {
	display: flex;
	flex-direction: row;
	gap: 10px;
	> * {
		color: #a3a6a0;
		&:first-child {
			font-weight: 400;
		}
		&:last-child {
			font-weight: 100;
			flex-grow: 1;
		}
	}
}
