@use '/styles/mixins.scss' as mixins;

.wrapperAuto,
.wrapperHorizontal,
.wrapperVertical {
  display: grid;
  gap: 1rem;
}

.wrapperAuto {
  @include mixins.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.wrapperHorizontal {
  grid-template-columns: 1fr 1fr;
}

.checkboxesWrapper {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  .link {
    text-decoration: underline;
  }
}

.checkboxWrapper {
  position: relative;
  height: 45px;

  > input {
    margin: 0;

    z-index: 0;
    position: absolute;
    inset: 0;
    opacity: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  > input:focus-visible ~ svg {
    outline: 2px solid white;
  }

  > svg {
    font-size: 3rem;
  }
}
