@use '../../styles/mixins.scss' as mixins;

.container {
  padding: 40px;
  margin: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  > h1 {
    text-transform: uppercase;
  }

  > .button {
    outline: none;
    cursor: pointer;
    border: none;
    @include mixins.button;
    margin-top: 30px;
  }
}
