.notification {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	font-size: 1.2em;
	text-align: center;
	padding-block: 10px !important;
	color: var(--bg-color);
	background-color: var(--btn-2-color);

	span {
		flex-grow: 1;
	}

	button {
		width: min-content;
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;

		height: 100%;
	}
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: underline;
}
