.notification {
	font-size: 1.2em;
	text-align: center;
	padding: 10px 30px;
	color: var(--bg-color);
	background-color: var(--btn-2-color);
}

.title {
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: underline;
}
