@use '/styles/mixins.scss' as mixins;

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: var(--border-radius-1);
  overflow: hidden;
}

.block {
  background-color: var(--btn-color);
  padding: var(--block-padding);
  border-radius: 0;
  position: relative;

  display: flex;
  flex-direction: column;
  gap: var(--margin-1);

  & button {
    @include mixins.block-button;

    @include mixins.mobile {
      width: 100%;
    }
  }

  .error {
    background-color: var(--danger);
    width: fit-content;

    margin-inline: auto;
    padding: 0.5rem 1rem;
    border-radius: 5px;

    font-weight: 600;
    text-align: center;
  }

  .loadingBarWrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}

.title {
  font-weight: 800;
  font-size: 1.6rem;

  @include mixins.mobile {
    font-size: 1rem;
  }
}

.sectionWrapper {
  text-align: center;
}

.questionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--margin-1);

  > span {
    color: var(--light-gray);
  }
}

.input {
  background-color: var(--bg-color);
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  color: var(--secondary-color);
  font-family: inherit;
  padding: 1rem;
}

.input:focus-visible {
  outline: solid white 2px;
}

.textarea {
  resize: vertical;
  height: 6.5rem;
}

.blockToggle {
  & .block {
    flex-direction: column;
    align-items: center;

    @include mixins.desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  & .description {
    color: var(--light-gray);
    margin-bottom: 1rem;

    @include mixins.desktop {
      margin-right: auto;
      margin-bottom: 0;
    }
  }
}

.checkboxWrapper {
  & > input {
    accent-color: var(--bg-color);
  }
}

.minecraftSkinWrapper {
  position: relative;
  width: 100%;

  > input {
    width: 100%;
    padding-left: 48px;
  }
}

.minecraftSkin {
  position: absolute;
  background-color: var(--btn-color);
  width: 35px;
  height: 35px;
  border-radius: 3px;

  left: 7px;
  top: 50%;
  transform: translateY(-50%);
}

.submitWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--margin-1);

  @include mixins.mobile {
    flex-direction: column;
  }
}

.button {
  @include mixins.block-button;
}

.diffButton {
  @include mixins.button;
}
