@use 'styles/mixins.scss' as mixins;

.title {
  @include mixins.title;
}

.subHeader {
  @include mixins.information-block;
}

.faq {
  display: grid;
  padding: 20px;
  gap: var(--margin-1);
  background-color: var(--btn-color);
  border-radius: var(--border-radius-1);
  color: black;
  @include mixins.desktop {
    grid-template-columns: 1fr 1fr;
  }
}

.blockLink {
  color: #000;
  text-decoration: underline;
}
