.message {
	padding: 5px;
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.mentioned {
	background-color: #49443c;
}

.profilePicture {
	background-color: #555555;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.content {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.details {
	display: flex;
	flex-direction: row;
	gap: 10px;
	> * {
		color: #a3a6a0;
		&:first-child {
			font-weight: 400;
		}
		&:last-child {
			font-weight: 100;
			flex-grow: 1;
		}
	}
}
