@use '/styles/mixins.scss' as mixins;

.wrapper {
  --indicator-width: 200px;

  background-color: var(--btn-color);
  border-radius: var(--border-radius-1);
  overflow-x: auto;
  scroll-behavior: smooth;

  @include mixins.prefers-reduced-motion {
    scroll-behavior: unset;
  }

  border: var(--btn-color) 10px solid;
}

.indicatorWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: relative;

  padding: 10px;

  min-width: max-content;

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.line {
  --percent-filled: 0%;

  transition: all 200ms ease;

  height: 20px;
  width: calc(100% - (((var(--indicator-width)) * 2)));
  margin-inline: calc(var(--indicator-width) - 5px);

  position: absolute;

  top: 50%;
  transform: translateY(-50%);

  background: linear-gradient(90deg, #fff var(--percent-filled), #202020 var(--percent-filled));
}

.indicator {
  z-index: 0;

  display: block;
  width: var(--indicator-width);
  padding: 20px 10px;
  height: 70px;
  border-radius: 100vh;
  background-color: var(--bg-color);

  text-align: center;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: color 200ms, background 200ms;
  transition-delay: 380ms;
}

.fill {
  background-color: white;
  color: var(--bg-color);
}
