.sub-header {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  background-color: #353535;
  border-radius: 10px;
  padding: 20px;
  align-items: center;
  text-align: center;
  color: white;
}

.sub-header > * {
  margin: 0;
}

.sub-header-link {
  color: white;
  text-decoration: underline;
}

.faq {
  display: grid;
  padding: 20px;
  gap: 1.5rem;
  background-color: #353535;
  border-radius: 10px;
  color: black;
}

.block {
  padding: 20px 20px;
  border-radius: 10px;
  height: min-content;
}

.block > summary {
  font-size: 1.2rem;
}

summary {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

details[open] {
  height: auto;
}

.block-link {
  color: #000;
  text-decoration: underline;
}

@media only screen and (min-width: 780px) {
  .faq {
    grid-template-columns: 1fr 1fr;
  }
}
