$mobile-desktop-limit: 800px;
$rounded-radius: 10px;

@mixin mobile {
  @media only screen and (max-width: $mobile-desktop-limit) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $mobile-desktop-limit) {
    @content;
  }
}

@mixin prefers-reduced-motion {
  @media (prefers-reduced-motion) {
    @content;
  }
}

@mixin light-theme {
  @media (prefers-color-scheme: light) {
    @content;
  }
}

@mixin dark-theme {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin title {
  color: var(--bg-color);
  font-size: 3.2em;
  font-weight: 800;

  padding-block: 1rem;

  text-transform: uppercase;
  text-align: center;

  @include mobile {
    font-size: 2rem;
  }
}

@mixin button {
  background: var(--btn-2-color) !important;
  border-radius: var(--border-radius-2);
  box-shadow: 0 4px 5px 0 black;
  color: var(--bg-color) !important;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  transition: 200ms ease-in-out;

  &:hover {
    @media only screen and (min-width: 900px) {
      box-shadow: 0 0 0 0 black;
      transform: translateY(3px) scale(0.987);
      color: var(--text-color) !important;
      background: var(--bg-color) !important;
    }
  }
}

@mixin block-button {
  background: var(--bg-color) !important;
  border-radius: var(--border-radius-2);
  color: var(--text-color) !important;
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 10px;
  text-align: center;
  border: none;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
}

@mixin subheader {
  color: white;
  font-size: 35.2px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: var(--margin-1);
}

@mixin information-block {
  align-items: center;
  background-color: var(--btn-color);
  border-radius: var(--border-radius-1);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  > h2 {
    text-transform: uppercase;
  }

  & a {
    text-decoration: underline;
  }
}
