:root {
	--bg-color: #202020;
	--text-color: #fff;
	--btn-color: #353535;
	--btn-2-color: #eee;
	@media (prefers-color-scheme: light) {
		--bg-color: #ffffff;
		--text-color: #000;
		--btn-color: #e3e3e3;
		--btn-2-color: #222;
	}

	--left-right-padding: 5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	margin: 0;
	padding: 0;

	width: 100%;
	background: var(--bg-color);
	color: var(--text-color);
	display: flex;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;

	> * {
		padding: 0 var(--left-right-padding);
	}

	main {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: auto;
		.mainHeader {
			align-self: center;
			height: 100px;
			margin: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 3.2em;
			color: black;
			text-transform: uppercase;
			@media only screen and (max-width: 1200px) {
				font-size: 2rem;
			}
			@media only screen and (max-width: 500px) {
				font-size: 1.5rem;
			}
		}
	}

	.button {
		display: block;
		width: 100%;
		padding: 10px;
		text-align: center;
		border-radius: 10px;
		font-size: 1.3rem;
		color: var(--bg-color) !important;
		background: var(--btn-2-color) !important;
		transition: 200ms ease-in-out;
		box-shadow: 0 4px 5px 0 black;

		&:hover {
			@media only screen and (min-width: 900px) {
				box-shadow: 0 0 0 0 black;
				transform: translateY(3px) scale(0.987);
				color: var(--text-color) !important;
				background: var(--bg-color) !important;
			}
		}
	}
}

.purple {
	/* background-color: #b983ff; */
	background: #7d48fe;
	background: linear-gradient(90deg, #9066fb 0%, #cba4fd 100%);
}

.blue {
	/* background-color: #9adcff; */
	background: #4d7fff;
	background: linear-gradient(90deg, #6590ff 0%, #74d3ff 100%);
}

.red {
	/* background-color: #ff8aae; */
	background: #ff5555;
	background: linear-gradient(90deg, #ff6767 0%, #ffa283 100%);
}

.yellow {
	/* background-color: #fff89a; */
	background: #ff5555;
	background: linear-gradient(90deg, #fcdd51 0%, #fff88f 100%);
}

.green {
	/* background-color: #41e889; */
	background: #ff5555;
	background: linear-gradient(90deg, #5ede64 0%, #b6f98c 100%);
}

.orange {
	/* background-color: #fdac55; */
	background: #ff5555;
	background: linear-gradient(90deg, #f79549 0%, #ffcb83 100%);
}
