main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 var(--left-right-padding);
  margin-bottom: auto;
}

.notifications {
  width: 100%;
  font-size: 1.2em;
  font-weight: 500;
}

.notifications > * {
  margin: 0;
  text-align: center;
  width: 100%;
  padding: 10px 30px;
  color: var(--bg-color);
  background-color: var(--btn-2-color);
}

.notifications > *:first-child {
  box-shadow: inset 0px 5px 5px -2px var(--bg-color);
}

footer {
  display: flex;
  width: 100%;
  height: fit-content;
  padding: 0 var(--left-right-padding);
  box-shadow: -5px 0px 15px 0px black;
  justify-content: space-between;
  font-weight: 900;
  margin-top: 50px;
}

summary {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
}

hr {
  display: block;
  width: 100%;
  border-color: var(--text-color);
}

.extra-links > p > a {
  padding-block: 0px;
}

@media only screen and (min-width: 900px) {
  .extra-links {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(5, max-content);
    font-size: large;
  }
}

@media only screen and (max-width: 900px) {
  footer {
    flex-direction: column;
    text-align: center;
    font-size: 2vw;
  }
}
