@use '../../styles/mixins.scss' as mixins;

.title {
  @include mixins.title;
}

.subheader {
  @include mixins.subheader;
}

.grid {
  display: grid;
  gap: 1.5rem;
  background-color: var(--btn-color);
  padding: 20px;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr;
  @include mixins.mobile {
    grid-template-columns: 1fr;
  }
}

@mixin largeButton {
  @include mixins.button;
  padding: 0;
  display: flex;
  align-items: center;
  background: white;
  color: black;
  min-height: 100px;
}

.button {
  @include largeButton;
  border-radius: 10px;
  h3 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    margin: auto;
    white-space: nowrap;
  }
  img {
    display: inline-block;
  }
  &:hover > .icon {
    @include mixins.desktop {
      background-color: var(--bg-color);
      border-right: 10px solid var(--btn-color);
    }
  }
}

.wikiButton {
  @include largeButton;
  text-transform: uppercase;
}

.icon {
  background-color: var(--light-gray);
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0 0 10px;
  transition: 300ms;
  border-right: 10px solid var(--btn-2-color);
}

.stats {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  display: grid;
  text-align: center;
}
